<div class="conteinerCentralizador" [@inicializaList]>
  <br>
  <div style="height: 50px;">
    <h4 style="display: inline;">Listagem de Vendas</h4>
    <div style="position: relative; float: right;">
      <button mat-stroked-button [routerLink]="['/pages/cadastros/transacoes/cadvenda']">Cadastro de Vendas</button>
    </div>
  </div>
  <div class="corpoCadastro">
    <div class="form-row">
      <table class="table">

        <thead>
          <tr>
            <th class="main">Código</th>
            <th class="main">Produto</th>
            <th class="main">Cliente</th>
            <th class="main">Vendedor</th>
            <th class="main">Total</th>
            <th class="main text-center tamnhoCelula_300">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="itemdoBanco.length == 0" class="table-hover">
            <td class="text-center" colspan="7" scope="row">Nada cadastrado!</td>
          </tr>
          <tr *ngFor="let item of itemdoBanco; index as i;" class="table-hover">
            <td scope="row">{{ item.id }}</td>
            <td>
              <div *ngFor="let prodVenda of item.produtosVendas">
                <p>{{ prodVenda?.produto?.nome }}</p>
                <p *ngIf="prodVenda.qtdProdVendidos > 1" style="font-size: 70%;">({{ prodVenda?.qtdProdVendidos }} vendidos)</p>
                <p *ngIf="prodVenda.qtdProdVendidos < 2" style="font-size: 70%;">({{ prodVenda?.qtdProdVendidos }} vendido)</p>
              </div>
            </td>
            <td>{{ item.cliente.nome }}</td>
            <td>{{ item.vendedor.nome }}</td>
            <td>{{ item.totalComDesconto }}</td>
            <td>
              <div class="text-center tamnhoCelula_300">
                <button mat-raised-button color="warn" (click)="daletarItem(item.id)">Deletar</button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div><br>
  <div style="position: relative; float: right;">
    <button mat-stroked-button [routerLink]="['/pages/cadastros/transacoes/cadvenda']">Cadastro de Vendas</button>
    &nbsp;
  </div><br><br><br>
</div>
