<div class="container">
  <h1 class="card-title extrabits">Sobre a ExtraBits</h1>




  <div class="card">
    <div class="card-header">
      Sobre a empresa
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Fundada em 2009, a ExtraBits é especializada em Suporte Técnico, Manutenção,
          Venda de Computadores de Alta Performance, e tudo o que abrange a informática.
          Conta com sua Web Store para venda de seus produtos e com sua Loja Física e Assistência Técnica localizada em
          Novo Hamburgo (RS).
          O comprometimento e a qualidade no atendimento aos clientes e em seus serviços prestados, está sempre em
          primeiro lugar.
        </p>
      </blockquote>
    </div>
  </div>

  <br>
  <br>

  <div class="card">
    <div class="card-header">
      O que é um ERP?
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Enterprise Resource Planning e trata-se de um software integrado de gestão empresarial que
          reúne numa única solução as informações gerenciais dos setores de uma empresa,
          tais como: como Contabilidade, Finanças, Fiscal, RH, Suprimentos, Patrimônio e Vendas.
        </p>
      </blockquote>
    </div>
  </div>


  <br>
  <br>



  <!-- seção grupo-->
  <h1 class="card-text justify">Desenvolvedores</h1>

  <div class="row">
    <div class="col">

      <div class="card mb-3 grupo" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="quadro col-md-3">
            <img src="assets/img/leonardo.jpg" class="card-img" style="max-width: 540px; max-height: 540px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Leonardo Silva</h5>
              <p class="card-text"><small class="text-muted">Front end</small></p>
              <p class="card-text">O desenvolvedor front-end é responsável por “dar vida” à interface.
                Trabalha com a parte da aplicação que interage diretamente com o usuário. Por isso,
                é importante que esse desenvolvedor também se preocupe com a experiência do usuário.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card mb-3 grupo" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="quadro col-md-3">
            <img src="assets/img/soldado.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Lucas de Souza Vargas</h5>
              <p class="card-text"><small class="text-muted">Back end</small></p>
              <p class="card-text">O Desenvolvedor Back-end se preocupa com a regra de negócios, segurança, banco de
                dados e integração de
                webservices. Em outras palavras, suas principais atividades são programar, codificar e testar os
                projetos
                criados.
                A manutenção dos sistemas também faz parte das suas tarefas diárias.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="w-100"></div>
    <div class="col">

      <div class="card mb-3 grupo" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="quadro col-md-3">
            <img src="assets/img/prefeito.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Matheus Siebel</h5>
              <p class="card-text"><small class="text-muted">Front end</small></p>
              <p class="card-text">O desenvolvedor front-end é responsável por “dar vida” à interface.
                Trabalha com a parte da aplicação que interage diretamente com o usuário. Por isso,
                é importante que esse desenvolvedor também se preocupe com a experiência do usuário.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card mb-3 grupo" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="quadro col-md-3">
            <img src="assets/img/avatar.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Eduardo Gudiel Vaz</h5>
              <p class="card-text"><small class="text-muted">DBA</small></p>
              <p class="card-text">Um administrador de banco de dados (DBA) manterá o banco de dados funcionando
                perfeitamente 24 horas por dia, 7 dias por semana. O objetivo é fornecer um fluxo contínuo de
                informações
                em toda a empresa,
                considerando a estrutura de dados de back-end e a acessibilidade de interface para os usuários finais.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- seção Tecnologias-->
  <h1 class="card-text justify">Tecnologias Utilizadas</h1>
  <h3 class="card-text justify">Front end</h3>

  <div class="row">
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/html.png" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">HTML 5</h5>
          <p class="card-text">
            HTML é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser
            interpretados por navegadores.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/css.png" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">CSS 3</h5>
          <p class="card-text">
            CSS é um mecanismo para adicionar estilo a um documento web.
            Em vez de colocar a formatação dentro do documento, o CSS cria um link para uma página que contém os
            estilos.

          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/js.png" class="card-img-top" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
          <p class="card-text">
            JavaScript é uma linguagem de programação interpretada. Controlando o navegador, realizando comunicação
            assíncrona e
            alterando o conteúdo do documento exibido.
          </p>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="row">
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/angular.png" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">
            AngularJS é um framework JavaScript código aberto, mantido pelo Google, que auxilia na execução de
            single-page applications.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/bootstrap.png" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">Bootstrap 4</h5>
          <p class="card-text">
            Bootstrap é um framework web com código-fonte aberto para desenvolvimento de componentes de interface e
            front-end para sites e aplicações web usando HTML, CSS e JavaScript, baseado em modelos de design para a
            tipografia, melhorando a experiência do usuário em um site amigável e responsivo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <h3 class="card-text justify">Back end</h3>

  <div class="row">
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/c.jpg" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">C#</h5>
          <p class="card-text">C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela
            Microsoft
            como parte da plataforma .NET. A sua sintaxe orientada a objetos foi baseada no C++ mas inclui muitas
            influências de outras
            linguagens de programação, como Object Pascal e, principalmente, Java.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/sql.jpg" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body">
          <h5 class="card-title">Banco de dados SQL</h5>
          <p class="card-text">Structured Query Language, é a linguagem de pesquisa declarativa padrão para banco de
            dados relacional.
            Muitas das características originais do SQL foram inspiradas na álgebra relacional.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card cardtec" style="width: 18rem;">
        <img src="assets/img/php.png" class="card-img-top margem" style="max-width: 340px; max-height: 340px;">
        <div class="card-body ">
          <h5 class="card-title">PHP</h5>
          <p class="card-text">PHP é uma linguagem interpretada livre, usada originalmente apenas para o
            desenvolvimento
            de
            aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web.
          </p>
        </div>
      </div>
    </div>



  </div>