<div class="conteinerCentralizador" [@inicializaCad]>
  <br>
  <div style="height: 50px;">
    <h4 style="display: inline;">Cadastro de Modelos</h4>
    <div style="position: relative; float: right;">
      <button mat-stroked-button [routerLink]="['/pages/listagems/produtos/listmodelo']">Listagem de Modelos</button>
    </div>
  </div>
  <form class="backGround">
      <div class="corpoCadastro">
          <div class="form-row">
  
            <P>Nome do Modelo *</P>
            <input type="nome" class="form-control" name="inputNome" [(ngModel)]="nomeItem" placeholder="Nome do Modelo" required><br><br>
            
          </div>
      </div>
    </form><br>
  <div style="position: relative; float: right;">
    <button mat-stroked-button [routerLink]="['/pages/listagems/produtos/listmodelo']">Listagem de Modelos</button> &nbsp;
    <button mat-stroked-button color="warn" [routerLink]="['/pages/listagems/produtos/listmodelo']">Cancelar</button> &nbsp;
    <button mat-raised-button color="primary" (click)="salvarItem()">Salvar</button>
  </div><br><br><br>
</div>