<mat-tab-group animationDuration="0ms">
  <mat-tab label="Produtos">
    <div id="subTabs" class="subTabs">
      <div class="example-button-row">
        <button mat-button>Produtos</button> &nbsp;
        <button mat-button>Modelos</button> &nbsp;
        <button mat-button>Marcas</button> &nbsp;
        <button mat-button>categorias</button> &nbsp;
        <button mat-button>Pecas</button> &nbsp;
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Pessoal">
    <div id="subTabs" class="subTabs">
      <div class="example-button-row">
        <button mat-button>Funcionários</button> &nbsp;
        <button mat-button>Fornecedores</button> &nbsp;
        <button mat-button>Clientes</button> &nbsp;
        <button mat-button>Cargos</button> &nbsp;
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Despesas">
    <div id="subTabs" class="subTabs">
      <div class="example-button-row">
        <button mat-button>Despesas com Fornecedores</button> &nbsp;
        <button mat-button>Despesas com Funcionarios</button> &nbsp;
        <button mat-button>Despesas Gerais</button> &nbsp;
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Vendas e Comissões">
    <div id="subTabs" class="subTabs">
      <div class="example-button-row">
        <button mat-button>Vendas</button> &nbsp;
        <button mat-button>Comissões</button> &nbsp;
      </div>
    </div>
  </mat-tab>
</mat-tab-group>