<div class="conteinerCentralizador">
  <!-- [@inicializaCad] -->
  <br>
  <div style="padding-bottom: 50px;">
    <form class="backGround">
      <div class="img-logo">
        <img src="./assets/logoActionBar.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
      <div class="form-row">
          <p>Nome Representante</p>
          <input type="text" name="inputNomeRepresentante" class="form-control" placeholder="Nome Representante" value="Extrabits" readonly>
      
          <p>Nome Fantasia</p>
          <input type="text" name="inputNomeFantasia" class="form-control" placeholder="Nome Fantasia" value="Extrabits" readonly>
      
          <p>Razão Social</p>
          <input type="text" name="inputRazaoSocial" class="form-control" placeholder="Razão Social" value="Melhorar a vida das pessoas!" readonly>
      
          <p>CNPJ</p>
          <input type="text" name="inputCnpj" class="form-control" placeholder="CNPJ" value="54.545.546/4561-32" readonly>
      
          <p>CEP</p>
          <input type="text" name="inputCep" class="form-control" placeholder="CEP" value="93.700.000" readonly>
      
          <p>Estado</p>
          <input type="text" name="inputestado" class="form-control" placeholder="Estado" value="Rio Grande do Sul (RS)" readonly>
      
          <p>Endereço</p>
          <input type="text" name="inputEndereco" class="form-control" placeholder="Endereço" value="Rua das Flores" readonly>
      
          <p>Bairro</p>
          <input type="text" name="inputBairro" class="form-control" placeholder="Bairro" value="Centro" readonly>
      
          <p>Número</p>
          <input type="text" name="inputNumero" class="form-control" placeholder="Número" value="1524" readonly>
      
          <p>Site</p>
          <input type="text" name="inputSite" class="form-control" placeholder="Site" value="www.extrabits.com" readonly>
      
          <p>E-mail</p>
          <input type="text" name="inputEmail" class="form-control" placeholder="E-Mail" value="contato@extrabits.com.br" readonly>
      
          <p>Telefone</p>
          <input type="text" name="inputTelefone" class="form-control" placeholder="Telefone" value="(54) 9 8745-1245" readonly>
      
        </div>
      <!-- <div class="row wapp">
        <div class="col-sm">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Produtos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list role="list">
                <mat-list-item role="listitem">Produtos cadastrados</mat-list-item>
                <mat-list-item role="listitem">Marcas cadastradas</mat-list-item>
                <mat-list-item role="listitem">Modelos cadastrados</mat-list-item>
                <mat-list-item role="listitem">Categorias cadastradas</mat-list-item>
                <mat-list-item role="listitem">Peças cadastrados</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-sm">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pessoas
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list role="list">
                <mat-list-item role="listitem">Clientes cadastrados</mat-list-item>
                <mat-list-item role="listitem">Funcionários cadastrados</mat-list-item>
                <mat-list-item role="listitem">Fornecedores cadastrados</mat-list-item>
                <mat-list-item role="listitem">Cargos cadastrados</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-sm">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Transações
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list role="list">
                <mat-list-item role="listitem">Vendas Quantidade</mat-list-item>
                <mat-list-item role="listitem">Vendas Total</mat-list-item>
                <mat-list-item role="listitem">Comissão Total</mat-list-item>
                <mat-list-item role="listitem">Desp. Gerais</mat-list-item>
                <mat-list-item role="listitem">Desp. Funcionários</mat-list-item>
                <mat-list-item role="listitem">Desp. Fornecedores</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->
    </form>
  </div> 
</div>

