<div class="conteinerCentralizador" [@inicializaConta]>
  <!--   -->
  <br>
  <div style="height: 50px;">
    <form class="backGround">
      <div class="text-center img-logo">
        <img src="./assets/logoActionBar.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
      <br>
      <hr>
      <a mat-icon-button [routerLink]="['/pages/mais/configuracao']"><mat-icon>settings</mat-icon></a>
      <table>
        <tr>
          <th style="padding: 10px;">
            <div class="form-row">

              <p>Nome de Usuário</p>
              <input type="text" name="inputNome" [(ngModel)]="user.Nome" class="form-control" placeholder="Nome" readonly>

            </div>
          </th>
          <th style="padding: 10px;">
            <div class="form-row">

              <p>Nome da empresa</p>
              <input type="text" name="inputBairro" [(ngModel)]="user.NomeEmpresa" class="form-control" placeholder="Empresa" readonly>

            </div>
          </th>
        </tr>
      </table>
    </form>
  </div>
</div>
