p {
    margin: 0px;
}

.backGround {
    background-color: #eeeeee;
    height: 100%;
}

.conteinerCentralizador {
    width: 75%;
    margin: auto;
    max-width: 750px;
}

.corpoCadastro {
    width: 70%;
    margin: auto;
}
